<div class="welcome-div">
  <div class="col-md-8 profile-header">
    <h2>Welcome, {{name}}!
      <button type="menu" class="btn btn-primary update-dashboard" data-id="{{id}}">Update Profile</button>
       <button class="btn btn-primary follow-list">Following</button>
    </h2>
  </div>
  <div class="personal-div">
    <div class="profile-picture">
      {{#if picture}}
      <img src="{{picture}}" alt="profile picture" class="dashboard-profile-picture">
      {{else}}
      <img 
      src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=",
      alt="profile picture">
      {{/if}}
      <p class="dashboard-biography">{{biography}}</p>
    </div>
  </div>
  <div class="bottom-border-div"></div>
</div>

<div class="row mt-4">
  <div class="col-md-8">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-cont"></label>
        <textarea class="form-input" id="post-cont" name="post-cont"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  
  <div class="col-md-4 post-list">
    <h3>Current Posts:</h3>
    {{#if posts.length}}
    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-7">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-2">
        <a href="/post/update/{{post.id}}"><button class="btn btn-sm">UPDATE</button></a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
<script src="./js/following.js"></script>
