<div class="row text-left">
  <div class="col-md-12 card">
    <div class="row card-header">
      <div class="col-md-8">
        <h2>{{title}}</h2>
      </div>
      <div class="col-md-4 text-right mt-3">
        <p>Created by <a href="/profile/{{user.name}}">{{user.name}}</a> on {{format_date date_created}}</p>
      </div>
    </div>
    {{#if post_tags}}
    <div class="row card-header">
      <div class="m-1">
        Tags: &nbsp
      </div>   
      {{#each post_tags as |tag|}}
      <div class="btn btn-squared btn-sm">
        {{tag.tag_name}}
      </div>
      <div>&nbsp</div>
      {{/each}}
    </div>
    {{/if}}
    <div class="card-body">
      <p>{{contents}}</p>
    </div>
    <div class="row card-footer">
      <div class="col-auto ml-4">
        <p class="mt-3">{{vote_count}} {{format_plural "point"}}</p>
      </div>
      <div class="col-2 mt-2">
          <button class="btn btn-primary" id="upvote-btn">Upvote Post</button></a>
      </div>
    </div>
  </div>
</div>
<div class="comment-list">
{{#if comments}}
{{#each comments as |comment|}}
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8 card">
      <div class="card-header text-right">
        <a href="/profile/{{comment.user.name}}">{{comment.user_name}}</a> on {{format_date comment.date_created}}
      </div>
      <div class="card-body">
        {{comment.contents}}
      </div>
    </div>
{{#if (same_user ../logged_id comment.user_id)}}
    <div class="col-md-2 pt-2">
      <button class="btn btn-sm btn-danger" data-id="{{comment.id}}" id="delete-btn">Delete Comment</button>
    </div>
{{/if}}
  </div>
{{/each}}
{{/if}}
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <form id="comment-form" class="form new-post-form form-hide">
      <div class="form-group">
        <label for="comment-content">Comment:</label>
        <input class="form-input" type="text" id="comment-content" name="comment-content" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Leave Comment</button>
      </div>
    </form>
  </div>
</div>
<div class="row mt-3" id="comment-start">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <button class="btn btn-primary" id="comment-btn">Leave a Comment</button>
  </div>
</div>
{{#if (same_user logged_id user.id)}}
<div class="row">
  <a href="/post/update/{{id}}"><button class="btn btn-sm">UPDATE</button></a>
</div>
{{/if}}

<script src="/js/post.js"></script>
<script src="/js/upvote.js"></script>
