<div>
<div class="welcome-div">
  <div class="col-md-8 profile-header">
    <h2>Welcome to {{name}}'s Profile!
      <button type="menu" class="btn btn-primary update-dashboard" data-id="{{id}}">Update Profile</button>
    </h2>
  </div>
  <div class="personal-div">
    <div class="profile-picture">
      {{#if picture}}
      <img src="{{picture}}" alt="profile picture" class="dashboard-profile-picture">
      {{else}}
      <img 
      src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=",
      alt="profile picture">
      {{/if}}
      <p class="dashboard-biography">{{biography}}</p>
    </div>
  </div>
  <div class="bottom-border-div"></div>
</div>
    {{#if posts.length}}
    <div>
        <div>
            <h2>{{name}}'s Posts:</h2>
        </div>
        {{#each posts as |post|}}
        <div class="col-md-7">
            <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>